/* Base styles for mobile */

body{
    background-color: #659f8f;
    color: #313131;
    font-family: sans-serif, Arial, Helvetica;
}

.footer-content {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
/* Positioned the logo below the footer content */
.flex {
    position: absolute;
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    bottom: 0;
    left: 0;
    border-top: .1rem solid rgb(211, 116, 7);
    box-sizing: border-box;
}

.flex a img {
    width: auto;
    height: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.newsletter-update {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h3 {
    text-transform: capitalize;
    font-size: 1.2rem;
}

input {
    width: auto;
    height: 3rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    color: black;
    font-family: sans-serif,Arial, Helvetica;
    font-size: 1rem;
    font-weight: 600;
    text-transform: lowercase;
    padding-left: 1.5rem;
}

.submit-btn {
    background: #e36700;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: bold;

}

input::placeholder {
    font-size: 0.9rem;
    color: grey;
    text-transform: capitalize;
}

/* To show user they are taking action. */

.submit-btn:hover {
    background-color: #4338CA;
}

input:focus { 
outline: 3px solid #4F46E5; 
} 

.quick-link ul {
    list-style: none;
    line-height: 1.8rem;
    text-indent: -2.4rem;
    
}

.technologies ul {
    list-style: none;
    line-height: 1.8rem;
    text-indent: -2.4rem;
}

.quick-link {
    margin: 1rem;
}

.technologies {
    margin: 1em;
}

/* Act as a hyperlink when I hover over the text. */

.home {
    text-decoration: none;
    transition: color 0.3s ease;
}
.who-we-are {
    text-decoration: none;
    transition: color 0.3s ease;
}
.our-philosophy {
    text-decoration: none;
    transition: color 0.3s ease;
}
.HTML {
    text-decoration: none;
    transition: color 0.3s ease;
}
.CSS {
    text-decoration: none;
    transition: color 0.3s ease;
}
.JavaScript {
    text-decoration: none;
    transition: color 0.3s ease;
}

.home:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.who-we-are:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.our-philosophy:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.HTML:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.CSS:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.JavaScript:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Styles for larger screen sizes. */

 @media (min-width:768px) {
   .footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 23rem;
   }
   .newsletter-update {
    display: block;
    position: relative;
    margin-right: 10rem;
   }
   .submit-btn {
    position: fixed;
    margin-left: 1rem;
    font-size: 1rem;
    background-color: rgb(223, 67, 11);
   }
   h3 {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
   }
   .links-tech {
    display: flex;
    flex-direction: row;
   }
   .technologies {
    margin-left: 14rem;
   }
   .flex {
    padding: 1rem;
    margin-bottom: 10rem;
   }
 }

 @media(min-width: 1024px) {
    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 25rem;
        margin-left: 10rem;
    }
    .flex {
        margin-left: 10rem;
    }
    .links-tech {
        margin-top: 2rem;
    }
 }
